<h1>Listing periodes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Startdate</th>
    <th>Plan</th>
    <th>Week</th>
    <th>Month</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @periodes.each do |periode| %>
  <tr>
    <td><%= periode.name %></td>
    <td><%= periode.type %></td>
    <td><%= periode.startdate %></td>
    <td><%= periode.plan_id %></td>
    <td><%= periode.week_id %></td>
    <td><%= periode.month_id %></td>
    <td><%= link_to 'Show', periode %></td>
    <td><%= link_to 'Edit', edit_periode_path(periode) %></td>
    <td><%= link_to 'Destroy', periode, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Periode', new_periode_path %>
