<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @plan.name %>
</p>
<p>
  <b>Type:</b>
  <%= @plan.type %>
</p>
<p>
  <b>Startdate:</b>
  <%= @plan.startdate %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>



<div id="pool">
	<%= render :partial => @templateTasks %>
</div>


<div id="plan">
	<% @plan.periodes.each do |month| %>
		<% month.weeks.each do |week | %>
			<% week.days.each do |day| %>
				
				<!-- Show all Tasks for Day-->
				<ul id="<%= day.name %>" >
					<% day.tasks.each do |task|%>
						<li class="task" id="item_<%=task.id%>">
							<%=h task.name %><br><%=h task.description %>
							<%= link_to 'Destroy', task, :method => :delete %>
						</li>
					<% end %>	
				</ul>				
			<% end %>
			
			<!-- Show all Tasks for Week-->
			<ul id="<%= week.name %>" >
				<% week.tasks.each do |task|%>
					<li class="task" id="item_<%=task.id%>">
						<%=h task.name %><br><%=h task.description %>
						<%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %>
					</li>
				<% end %>	
			</ul>
		<% end %>		
	<% end %>	
</div>		



<% periodeNames = @plan.periode_names %>
<% periodeNames << "pool" %>


<% periodeNames.each do |periodeName| %>
	<%= sortable_element(periodeName,
		:containment => periodeNames,
		:dropOnEmpty => true,
		:url => { :method => "sort" ,:controller => "periodes", :periodeName => periodeName, :id => @plan.id},
		:complete => visual_effect(:highlight,  periodeName))%>	
<% end %>







<br>
<br>

